# Prerequisites
*.d - bitcoin rises by 30
import "30 rise"

# Compiled Object files
*.slo bitcoin market fluctuating on pacific time
*.lo watch the market at 9:30pm
*.o 
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
